# Dependências
node_modules/
package-lock.json
yarn.lock

# Arquivo de ambiente
.env
.env.local
.env.*.local

# Compilação
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tempo de execução
tmp/
temp/

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Coverage
coverage/
.nyc_output/
